*~
.*.swp
*.o
*.g.o
*.pyc
/tmp*
/lib/Makefile.dep
/debug.log
/system_matrix.dat
/system_rhs.dat
/*.vtk
/*.stl
/*_mat.dat
/*_phi.dat
/*.ec*
/*.em*
/*_sources.dipole
/*.sigma
/*.surf.ucd
/*.fwd.log
/*.inv.log

bin/bem_solve
bin/bem_inverse_solver
bin/fem_solve
bin/stl_to_ucd
bin/tri_to_quad
bin/merge_ucd_files
bin/set_material_id
bin/select_electrodes
bin/measure_electrodes
bin/mesh_info
bin/spherical_head_model
bin/mpi_jobarray
bin/worker
bin/controller
bin/client

tests/hello
tests/test_*[^cc]
tests/mat_for_*[^cc]
tests/merge_*[^cc]
tests/bone_stl_to_ucd
tests/hex_inverse_solver
tests/spherical_head_model
tests/mpi_*[^cc]

data/spheres.surf.ucd
data/spheres.ucd
data/doublesphere.surf.ucd
data/doublesphere.ucd
data/head.ucd

examples/*/out/*.vtk
examples/*/out/*.dat
examples/*/out/*.dipole
examples/*/data/*.prm

