*~
tmp
Makefile.dep
bin/bem_solve
bin/bem_inverse_solver
bin/fem_solve
tests/hello
tests/test_*[^cc]
tests/mat_for_*[^cc]
tests/merge_*[^cc]
tests/bone_stl_to_ucd
tests/hex_inverse_solver
tests/spherical_head_model
debug.log
system_matrix.dat
system_rhs.dat
*.vtk
*.stl
*_mat.dat
*_phi.dat
data/spheres.surf.ucd
data/spheres.ucd
data/doublesphere.surf.ucd
data/doublesphere.ucd
data/head.ucd
examples/*/out/*.vtk
examples/*/out/*.dat
examples/*/out/*.dipole
examples/*/data/*.prm
