*~
tmp
Makefile.dep
bin/bem_solve
bin/bem_inverse_solver
bin/fem_solve
bin/mesh_info
tests/hello
tests/skull
tests/artery
tests/sphere
tests/sphere2
tests/stacked_cubes
tests/cloud
tests/bone
tests/head
tests/dipoles
tests/materials
tests/inv_hex
tests/simplex
system_matrix.dat
system_rhs.dat
phi.vtk
g_phi.vtk
phi.dat
electrodes.txt
electrode_indices.dat
data/spheres.surf.ucd
data/spheres.ucd
data/doublesphere.surf.ucd
data/doublesphere.ucd
data/head.ucd
